{% extends "layout.html" %}
{% block contenido %}

<h1>DISTANCIA ENTRE DOS PUNTOS</h1>

<p>FÓRMULA: √((X₂ - X₁)² + (Y₂ - Y₁)²)</p>

<form id="formDistancia">
  <label>X2:</label>
  <input type="number" name="X2" step="any" required>

  <label>X1:</label>
  <input type="number" name="X1" step="any" required>

  <label>Y2:</label>
  <input type="number" name="Y2" step="any" required>

  <label>Y1:</label>
  <input type="number" name="Y1" step="any" required>

  <button type="submit">CALCULAR</button>
</form>

<h3 id="formula"></h3>
<h2 id="resultado"></h2>

<script>
  document.getElementById("formDistancia").addEventListener("submit", async function(e) {
    e.preventDefault();

    const X2 = document.querySelector('[name="X2"]').value;
    const X1 = document.querySelector('[name="X1"]').value;
    const Y2 = document.querySelector('[name="Y2"]').value;
    const Y1 = document.querySelector('[name="Y1"]').value;

   
    const res = await fetch(`/distancia?X2=${X2}&X1=${X1}&Y2=${Y2}&Y1=${Y1}`);
    const data = await res.json();

   
    document.getElementById("formula").innerText = data.formula;
    document.getElementById("resultado").innerText = `Distancia = ${data.resultado}`;
  });
</script>

{% endblock %}
